* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  color: #1c1c1c;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

/* Hintergrund + Ellipsen */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.9;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.7;
  z-index: 2;
}

.ellipse1 {
  width: 1200px;
  height: 400px;
  background: rgba(190, 227, 255, 0.7);
  top: -100px;
  left: -200px;
  transform: rotate(-5deg);
}

.ellipse2 {
  width: 900px;
  height: 400px;
  background: rgba(180, 220, 255, 0.8);
  top: -50px;
  right: -250px;
  transform: rotate(20deg);
}

.ellipse3 {
  width: 2000px;
  height: 600px;
  background: rgba(210, 235, 255, 0.5);
  bottom: -200px;
  left: -300px;
  transform: rotate(10deg);
}

/* INTRO-WAVE */
.intro-wave {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
}

.wave-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.wave-text {
  max-width: 650px;
  z-index: 2;
  margin-top: 1000px;
}

.wave-text h2 {
  color: #1c86ee;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 100px;
}

.wave-text p {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

.circle-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* SPOT-KARTEN-CONTAINER */
.spots {
  margin-top: 30px;
  padding: 20px 80px;
}

.spots-container {
  background: #c0afa1;
  border-radius: 25px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  justify-items: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.scroll-space {
  height: 40vh;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
  opacity: 90%;
}

footer {
  text-align: center;
  padding: 30px;
  color: #777;
}
